.preguntas-frecuentes {
    display: flex;
    flex-direction: column;

   /* width: 100%;*/
    padding: 50px;
    background-color: $color_secundario;

    div{
        margin: 10px;
        margin-left: 130px;
        margin-right: 20px;
        text-align: center;
       }

}

.section2--faq{
 
    /*padding-left: 50px;*/
 /*   display: flex;*/
 /*   flex-direction: column;*/
   border-left: 120px;
  
   div{
    margin: 10px;
    margin-left: 130px;
    margin-right: 20px;
    text-align: center;
   }
}