
%boton-base{
    background-color: rgb(31, 72, 239);
    color: white;
    box-shadow: 50px 3px 57px 18px rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    border: solid rgb(3, 3, 60) 2px;
}


.boton {
    @extend %boton-base;
    font-size: 15px;
    padding: 8px;
    
    
    &:hover {
        background-color: green;
    }

}

// boton mas grande y con menos sombra extiende de
// clase .boton con extend


.boton-contacto {
    @extend %boton-base;
    font-size: 20px;
    padding: 15px;
  
}



a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

li {
    list-style: none;
}
