@charset "UTF-8";
/****************  selector universal  *********/ /****************  selector universal  ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  border: solid 2px yellow;*/
}

/****************  variables *******************/
/****************  elementos *******************/
a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

li {
  list-style: none;
}

/*
.depto__imagen{
    transform: rotate(36deg);
    &:hover{
      border:  solid red  ;
    }
  }


 */ /*
// border: solid 3px blue;
   // transform: rotate(30deg);
   // transition: all 2s;

  */
.depto__imagen {
  transition: transform 0.3s;
}
.depto__imagen:hover {
  transform: translateX(10px) translateY(-10px);
}

/****************  mixins*******************/
/***************** componente-boton ********/
.boton-contacto, .boton {
  background-color: rgb(31, 72, 239);
  color: white;
  box-shadow: 50px 3px 57px 18px rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  border: solid rgb(3, 3, 60) 2px;
}

.boton {
  font-size: 15px;
  padding: 8px;
}
.boton:hover {
  background-color: green;
}

.boton-contacto {
  font-size: 20px;
  padding: 15px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

li {
  list-style: none;
}

/***************** grid - body *****************/
.grid-template {
  grid-template-areas: "nav    header" "nav    section1" "nav    section2" "nav    footer";
}

body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  font-family: Arial, Helvetica, sans-serif;
  /*min-height: 100vh;*/
}

/*******************  nav   **********************/
/* grid area -------->>>nav   */
nav {
  /*@include flex(columns);*/
  grid-area: nav;
  background-color: black;
  height: 100%;
  color: white;
  position: fixed;
  left: 0;
}
nav ul li {
  padding: 20px;
  margin-top: 30px;
}

/*******************  header   **********************/
/* grid area -------->>>header  */
header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: #016fb9;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
header .titulo {
  text-align: center;
}

/******************  footer    **********************/
/*grid area------>>>>footer*/
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: #6d8ea0;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: auto;
  height: auto;
}
footer h2 {
  color: rgb(255, 255, 255);
}
footer span {
  color: white;
}

.engloba-comunicate-seguinos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.engloba-comunicate-seguinos .footer-comunicate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6d8ea0;
  height: auto;
}
.engloba-comunicate-seguinos .footer-comunicate .nav-engloba-comunicate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.engloba-comunicate-seguinos .footer-comunicate .nav-engloba-comunicate .ws-y-google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.engloba-comunicate-seguinos .footer-comunicate .nav-engloba-comunicate .ws-y-google li {
  padding: 20px;
  list-style: none;
}
.engloba-comunicate-seguinos .footer-comunicate .nav-engloba-comunicate .ws-y-google li .ws {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.engloba-comunicate-seguinos .footer-comunicate .nav-engloba-comunicate .ws-y-google li .google {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-seguinos {
  display: flex;
  flex-direction: column;
  background-color: #6d8ea0;
  align-items: center;
  justify-content: center;
  position: relative;
  /*left: 30px;*/
}
.footer-seguinos .nav-engloba-seguinos {
  display: flex;
  flex-direction: row;
}
.footer-seguinos .nav-engloba-seguinos .face-inst-twitt {
  display: flex;
  flex-direction: row;
  width: auto;
}
.footer-seguinos .nav-engloba-seguinos .face-inst-twitt li {
  padding: 30px;
  list-style: none;
}

/*estilos index generales a todas paginas section1 */
/*grid area ----->>>>section1*/
.section1 {
  grid-area: section1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.section1 h1 {
  font-size: xx-large;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #6d8ea0;
}
.section1 p {
  padding: 20px 80px;
  /*padding: 20px 20px;*/
  text-align: center;
  margin-top: 30px;
  max-width: 70%;
  margin-bottom: 20px;
  font-size: large;
}

/*grid area ----->>>>section2*/
.section2 {
  grid-area: section2;
  display: flex;
  flex-direction: row;
  /*padding: 40px;*/
  background-color: lightblue;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
  justify-content: flex-end;
  width: 100%;
}

.depto {
  margin: 10px;
  padding: 10px;
  width: 40%;
}
.depto__imagen {
  border: darkblue solid 2px;
  width: 80%;
}

/* Estilos para la página index.html **********************/
.section1--index {
  width: 100%;
}
.section1--index h2 {
  margin-bottom: 10px;
}
.section1--index img {
  /* margin-left: 20 rem;*/
  background-color: yellow;
  object-fit: contain;
}

.section2--index {
  width: 100%;
}
.section2--index img {
  object-fit: contain;
}

/* Estilos para la página sobrenosotros.html **********************/
.section1--sobreNosotros {
  text-align: center;
  /* background-color: white;*/
}

.section1 p {
  padding: 10px;
}

.section2--sobreNosotros {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.section2--sobreNosotros h2 {
  margin: 10px;
  text-align: center;
}

.engloba-iframe-y-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.engloba-iframe-y-p iframe {
  object-fit: cover;
}
.engloba-iframe-y-p p {
  max-width: 70%;
  margin: 10px;
  margin: 10px;
}

/* section Estilos para la página tarifa*/
.section1--tarifa {
  background-color: lightblue;
  padding-bottom: 20px;
  flex-direction: column;
  width: 100%;
}
.section1--tarifa h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

table {
  border: solid 2px black;
}

.section1-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2--tarifa {
  width: 100%;
  background-color: white;
  flex-direction: column;
  align-content: center;
  padding: 25px;
}

/* Estilos para la página faq   ********************/
.preguntas-frecuentes {
  display: flex;
  flex-direction: column;
  /* width: 100%;*/
  padding: 50px;
  background-color: #6d8ea0;
}
.preguntas-frecuentes div {
  margin: 10px;
  margin-left: 130px;
  margin-right: 20px;
  text-align: center;
}

.section2--faq {
  /*padding-left: 50px;*/
  /*   display: flex;*/
  /*   flex-direction: column;*/
  border-left: 120px;
}
.section2--faq div {
  margin: 10px;
  margin-left: 130px;
  margin-right: 20px;
  text-align: center;
}

/* Estilos para la página contacto********************/
.section2--contacto {
  flex-direction: column;
}
.section2--contacto #datos-de-contacto {
  padding-top: 25px;
  padding-bottom: 25px;
  /*background-color: $color_secundario;*/
  text-align: center;
  /*position: relative;
  top: 25px;*/
}
.section2--contacto #datos-de-contacto div {
  margin: 25px;
}

form {
  /*padding: 30px;*/
  text-align: center;
}

#info-pedido {
  position: relative;
  top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  /*background-color: $color_secundario;*/
  text-align: center;
  position: relative;
  top: 25px;
}
#info-pedido div {
  margin: 25px;
}

/********************
medias queris
**********************/
/* media query para tablets
estos estilos se aplican para resoluciones menores a 1024*/
@media (max-width: 1024px) {
  body {
    /* display: grid;*/
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    /* yo puse en tercer columna auto y anda bien*/
    /*esto saco porque puse en una clase
    grid-template-areas:
        "header"
        "nav"
        "section1"
        "section2"
        "footer";
    font-family: Arial, Helvetica, sans-serif;
     */
  }
  .grid-template {
    grid-template-areas: "header" "nav" "section1" "section2" "footer";
  }
  nav {
    /*flex-direction: row;*/
    position: static;
    height: auto;
  }
  .section2 {
    justify-content: space-between;
  }
  .barra-paginas {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .engloba-comunicate-seguinos {
    flex-direction: column;
  }
}
/*hasta aca 11*/
/* media query para mobile
estos estilos se aplican para resoluciones menores a 586*/
@media (max-width: 586px) {
  body {
    /* display: grid;*/
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    /* yo puse en tercer columna auto y anda bien*/
    /*grid-template-areas:
        "header"
        "nav"
        "section1"
        "section2"
        "footer";
        */
    font-family: Arial, Helvetica, sans-serif;
  }
  .grid-template {
    grid-template-areas: "header" "nav" "section1" "section2" "footer";
  }
  header {
    flex-direction: column;
  }
  .section1 img {
    height: 200px;
    width: 300px;
  }
  .section2--sobreNosotros {
    text-align: center;
  }
  .section2--sobreNosotros h2 {
    margin: 10px;
    text-align: center;
  }
  .section2 {
    flex-direction: column;
  }
  .depto {
    /*margin: 10px;*/
    width: 80%;
    position: relative;
    left: 0;
  }
  footer {
    justify-content: space-around;
    height: 700px;
  }
  footer span {
    padding: 20px;
    text-align: center;
  }
  .engloba-comunicate-seguinos {
    flex-direction: column;
  }
  nav .barra-paginas {
    flex-direction: column;
    font-size: large;
    align-items: center;
    align-content: center;
  }
  nav .barra-pagina ul li {
    text-decoration: none;
    list-style: none;
  }
}
/*hasta aca 12  fin*/

/*# sourceMappingURL=style.css.map */
